## required python packages ##

# the go-to python cryptography lib
cryptography

# depricated python cryptography lib
#pycrypto

# other python cryptography libs
pycryptodome
#py-ecc
ecdsa
#hmac
#hashlib

# python wrapper for libsecp256k1
secp256k1

# common bip44 implementation
hdwallet

# bip39 reference implementation
mnemonic

# ecoding
base58

# RIPEMD160 since no longer part of openssl
ripemd-hash

# testing 
pytest

# useful libs 
sympy
scipy
matplotlib
ipython

# the old jupyter package
jupyter

# the new jupyter package
jupyterlab
# with the old package 
# the jupyter-nbconvert command 
# does not work
#nbconvert>=6.0.7
