## required python packages ##

# python cryptography lib
cryptography

# depricated python cryptography
pycrypto
py-ecc

# wrapper for libsecp256k1
secp256k1

pytest
sympy
scipy
matplotlib
ipython

# the old package
jupyter

# the new package:
jupyterlab
# with the old package 
# the jupyter-nbconvert command 
# does not work
#nbconvert>=6.0.7
